<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Blog It!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            {{#if isLoggedIn}}
            <a href="/" class="{{#if isHome}}active{{/if}}">Home</a>
            <a href="/dashboard" class="{{#if isDashboard}}active{{/if}}">Dashboard</a>
            <a href="/logout">Sign Out</a>
            {{else}}
            <a href="/" class="{{#if isHome}}active{{/if}}">Home</a>
            <a href="/signin" class="{{#if isAuth}}active{{/if}}">Sign In / Register</a>
            {{/if}}
        </nav>

        <h1>Just Blog It!</h1>
    </header>

    {{{body}}}
</body>

</html>