<div class="welcome-page">
    {{!-- Only render the welcome info if user is not logged in --}}
    {{#unless isLoggedIn}}
    <h1>Welcome to Just Blog It!</h1>

    {{!-- Choose a random sentence --}}
    <h2 id="changingSentence" class="random-sentence"></h2>

    {{!-- This one is constant --}}
    <h2>Got something to say about tech? Just Blog It!</h2>
    {{/unless}}

    <main class="posts">
        {{#if posts}}
        {{#each posts}}
        <div class="post" data-post-id="{{id}}">
            <h2>{{title}}</h2>
            <p>Created On: {{createdAt}}</p>
        </div>
        {{/each}}
        {{else}}
        <p>No posts available.</p>
        {{/if}}
    </main>

</div>

<script src="/js/home.js"></script>