html,
body,
#root {
    height: 100%;
}

:root {
    --choco: #561d25;
    --caramel: #ce8147;
    --flax: #ecdd7b;
    --mindaro: #d3e298;
    --teaGreen: #cde7be;
    --white: #fff;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--teaGreen);
}

p {
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--choco);
    color: var(--white);
    border-radius: 5px;
}

header {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--caramel);
    padding: 10px;
    width: 100%;
}

header h1 {
    padding: 6px 10px;
    margin: 0;
    background-color: var(--choco);
    color: var(--teaGreen);
    border: 1px solid var(--choco);
    border-radius: 5px;
}

nav {
    margin-right: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav p {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    padding: 6px 10px;
    color: var(--choco);
    border: 1px solid var(--choco);
    border-radius: 3px;
}

nav a:not(:last-child) {
    margin-right: 15px;
}

nav a.active,
nav a:hover {
    background-color: var(--choco);
    color: var(--teaGreen);
}

form {
    background-color: #30193475;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

form>* {
    padding: 7px 10px;
    margin: 3px 0;
}

form h1 {
    text-align: center;
}

form button {
    width: fit-content;
    align-self: center;
}

ul li {
    margin: 10px 0;
}

ul li p {
    margin: 4px;
}